<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>AngularJsSpringExample</title>
	<link href="css/bootstrap-2.3.2.css" rel="stylesheet">
	<link href="css/bootstrap-responsive-2.3.2.css" rel="stylesheet">
</head>
<body ng-controller="listContactsController">
	<ul>
		<li ng-repeat="contact in contacts">
			<a ng-click="edit(contact)">{{contact.name}}</a> - <a ng-click="remove(contact)">Remove</a>
		</li>
	</ul>
	<div>
		<div><input type="button" ng-click="newOne()"value="New"/></div>
		<div><input type="text" ng-model="contact.name" name="name"/></div>
		<div><input type="text" ng-model="contact.phone" name="phone"/></div>
		<div><input type="button" ng-click="add()"value="OK"/></div>
	</div>
	<script src="lib/jquery.js"></script>
	<script src="lib/angular.js"></script>
	<script src="lib/angular-resource.js"></script>
	<script src="js/application.js"></script>
</body>
</html>
